body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
    font-family: 'Verdana';
    font-size: 0.75em;
}
.colum{
    display: inline-flex;
    gap: 150px;
}
.padd{
    width: 800px;
    padding-top: 30px;
}
legend{
    opacity: 50%;
    font-size: 1.2em;
}
.cursi{
    font-style: italic;
}
h1{
    color: rgb(0, 0, 141);
}